<f:layout name="default" />

This template displays a NEW form for the current domain object.

<f:section name="main">
<h1>New Video</h1>

<f:flashMessages />

<f:render partial="formErrors" />

<f:form method="post" action="create" name="newVideo" object="{newVideo}">
	<label for="title"><f:translate key="tx_youtubeapi_domain_model_video.title" /></label><br />
	<f:form.textbox property="title" /><br />
	<label for="title"><f:translate key="tx_youtubeapi_domain_model_video.author" /></label><br />
	<f:form.textbox property="author" /><br />
	<label for="title"><f:translate key="tx_youtubeapi_domain_model_video.description" /></label><br />
	<f:form.textbox property="description" /><br />
	<label for="title"><f:translate key="tx_youtubeapi_domain_model_video.vid" /></label><br />
	<f:form.textbox property="vid" /><br />
	<label for="title"><f:translate key="tx_youtubeapi_domain_model_video.keywords" /></label><br />
	<f:form.textbox property="keywords" /><br />
	<label for="title"><f:translate key="tx_youtubeapi_domain_model_video.category" /></label><br />
	<f:form.textbox property="category" /><br />
	<f:form.submit value="Create new" />
</f:form>
</f:section>